/*
body {
    font-family: sans-serif
}

.bg-primary {
    background-color: #131313 !important
}

.navbar.bg-primary {
    background-image: none
}

.navbar-brand {
    font-weight: bold;
}
*/

.md-sidebar {
    /* width: 14rem; */
}

.md-nav__list > .md-nav__item {
    margin-left: 0.5rem;
}

.md-nav--primary > .md-nav__list > .md-nav__item {
    margin-left: 0;
}
