[submodule "External/MacroPowerToys"]
	path = External/MacroPowerToys
	url = https://github.com/Neko-Box-Coder/MacroPowerToys.git
[submodule "External/DSResult"]
	path = External/DSResult
	url = https://github.com/Neko-Box-Coder/DSResult.git
